<form name="placeForm" novalidate>
 
    <h4 ng-show="isNew">{{ 'CREATE_PLACE' }}</h4>
    <h4 ng-hide="isNew">{{ 'UPDATE_PLACE' }}</h4>
 
    <label>{{ 'TITLE' }} *:</label><br>
    <input type="text" ng-model="place.p_title" name="pTitle"><br>
    
    <label>{{ 'DESCRIPTION' }}: </label> <br>
    <textarea ng-model="place.p_description" class="span12"></textarea><br>
    
 
    <label for="placeLat">{{ 'LATITUDE' }}:</label><br>
    <div class="input-append">
        <input type="text" id="placeLat" ng-model="place.p_lat" placeholder="{{ 'CLICK_ON_THE_MAP' }}" disabled>
        <span class="add-on">&deg;</span>
    </div>
 
    <label for="placeLng">{{ 'LONGITUDE' }}:</label>
    <div class="input-append" class="span12">
        <input type="text" id="placeLng" ng-model="place.p_lng" placeholder="{{ 'CLICK_ON_THE_MAP' }}" disabled>
        <span class="add-on">&deg;</span>
    </div>
 
    <button type="submit" ng-disabled="placeForm.$invalid || saving" ng-click="save()" class="btn-primary">
        <span ng-show="isNew">{{ 'CREATE' }}</span>
        <span ng-hide="isNew">{{ 'UPDATE' }}</span>
        <span ng-show="saving"><img ng-src="img/ajax-loader.gif" alt="loader"></span>
    </button>
 
    <a href="index.html#/list" class="btn">{{ 'CANCEL' }}</a>
 
</form>