<div id="placesList">
 
    <ul>
        <li ng-repeat="place in places">
            <a href="" ng-click="show(place)">{{ place.p_title }}</a>
            <a href="index.html#/edit/{{place.id}}"  class="pull-right" rel="tooltip" title="{{ 'UPDATE' }}"><img class="icon-edit" src="../img/pencil.png" alt="Change this mark"></a>
            <a href="" ng-click="confirm(place)" class="pull-right" rel="tooltip" title="{{ 'DELETE' }}"><img class="icon-remove" src="../img/trash.png" alt="Remove this mark"></a>
        </li>
    </ul>
 
    <div>
        <a href="places/index#/add" class="btn btn-success">{{ 'ADD_PLACE' }}</a>
    </div>
</div>