<div id="placesList">

    <ul>
        <li ng-repeat="place in places">
            <a ng-click="show(place)">{{ place.title }}</a>
            <a ui-sref="map.edit({ placeId: place.id })" class="pull-right" rel="tooltip" title="Update">
                <img class="icon-edit" src="../img/pencil.png" alt="Change this mark">
            </a>
            <button ng-click="confirm(place)" class="pull-right" rel="tooltip" title="Delete">
                <img class="icon-remove" src="../img/trash.png" alt="Remove this mark">
            </button>
        </li>
    </ul>

    <div>
        <a ui-sref="map.add" class="btn btn-success">Add place</a>
    </div>
</div>
